ssh_keys/*
sources/*
application 1/*

.vscode/*
.venv/*
.env*

backend/__pycache__/*
backend/memory.json
frontend/__pycache__/*
frontend/components/__pycache__/*
frontend/.gradio/*

.python-version
uv.lock
*.log